<a href="https://colab.research.google.com/github/bommojuvishu/stocksgraphcomp/blob/main/stock_graph_comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.5 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 982 kB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [2]:
import yfinance as yf
import numpy as np
import datetime as dt
import pandas as pd
import datetime
import os
import traceback
import matplotlib.pyplot as plt
import json
import logging

In [43]:
def min_max(data):
  max_x = max(data)
  min_x = min(data)
  result = []
  for x in data:
    x = x - min_x
    result.append(x/ (max_x - min_x))
    
  return result

def plotgraph(df):
  print("Line graph: ")
  plt.plot(df.index, df["result"])
  plt.show()


def createList(df):
  interval = 1/len(df)
  return np.arange(0, 1, interval)

def computeCloud (data):
    if data.Close > data.MovingAVG:
        return 1
    
    return 0

In [52]:
# liststocks = ['TATACONSUM' , 'INFY','TCS','DMART','GLAND','YESBANK','SWSOLAR','CAMLINFINE','INFY']
liststocks = ["DRREDDY","ITC","TECHM","BPCL","ULTRACEMCO","SUNPHARMA","WIPRO","BRITANNIA","INFY","HCLTECH","UPL","NESTLEIND","CIPLA","HDFCBANK","TCS","SBIN","IOC","SHREECEM","ADANIPORTS","INDUSINDBK","NTPC","BAJAJ-AUTO","ICICIBANK","DIVISLAB","HDFCLIFE","POWERGRID","GRASIM","TATASTEEL","RELIANCE","SBILIFE","KOTAKBANK","LT","HDFC","BAJAJFINSV","TATACONSUM","BHARTIARTL","ONGC","EICHERMOT","BAJFINANCE","AXISBANK","HINDALCO","HINDUNILVR","JSWSTEEL","COALINDIA","M&M","TATAMOTORS","HEROMOTOCO","ASIANPAINT","MARUTI","TITAN"]
tickers={}

TODAY = "2021-11-30"
datetime_object = dt.datetime.strptime(TODAY, '%Y-%m-%d')


for name in liststocks: 
    try:
        finalresult = []
        
        # periods = ['1mo','3mo','6mo','1y']
        periods = [365]
        percentile = [1,3,6,12]
        i=0
        rsi = 0
        abovecloudscore = 0
        percentilerank = 0
        
        for per in periods:
            ohlcv = yf.download(name +'.NS',datetime_object -dt.timedelta(per),datetime_object)
            calcloud=ohlcv
            ohlcv['minmax']=min_max(ohlcv['Close'].values)
            ohlcv['expected'] = createList(ohlcv)
            ohlcv['result'] = ohlcv.apply(lambda x: x['expected'] - x['minmax'], axis=1)
            # plotgraph(ohlcv)
            
            print(name)
            finalresult.append(sum(ohlcv['result']))
   

        tickers[name] = finalresult
    
    except Exception as ex:
        print(ex)#raised if `y` is empty.
        print("ERROR: ", name)
        logger.info("ERROR: "+ name)
        logger.info(ex)
        liststocks.remove(name)
        traceback.print_exc()
        

df=pd.DataFrame.from_dict(tickers,orient='index')
df = df.reset_index()
df

[*********************100%***********************]  1 of 1 completed
DRREDDY
[*********************100%***********************]  1 of 1 completed
ITC
[*********************100%***********************]  1 of 1 completed
TECHM
[*********************100%***********************]  1 of 1 completed
BPCL
[*********************100%***********************]  1 of 1 completed
ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
SUNPHARMA
[*********************100%***********************]  1 of 1 completed
WIPRO
[*********************100%***********************]  1 of 1 completed
BRITANNIA
[*********************100%***********************]  1 of 1 completed
INFY
[*********************100%***********************]  1 of 1 completed
HCLTECH
[*********************100%***********************]  1 of 1 completed
UPL
[*********************100%***********************]  1 of 1 completed
NESTLEIND
[*********************100%***********************]  1 of 1 completed
CIPLA
[*********************100%***********************]  1 of 1 completed
HDFCBANK
[*********************100%***********************]  1 of 1 completed
TCS
[*********************100%***********************]  1 of 1 completed
SBIN
[*********************100%***********************]  1 of 1 completed
IOC
[*********************100%***********************]  1 of 1 completed
SHREECEM
[*********************100%***********************]  1 of 1 completed
ADANIPORTS
[*********************100%***********************]  1 of 1 completed
INDUSINDBK
[*********************100%***********************]  1 of 1 completed
NTPC
[*********************100%***********************]  1 of 1 completed
BAJAJ-AUTO
[*********************100%***********************]  1 of 1 completed
ICICIBANK
[*********************100%***********************]  1 of 1 completed
DIVISLAB
[*********************100%***********************]  1 of 1 completed
HDFCLIFE
[*********************100%***********************]  1 of 1 completed
POWERGRID
[*********************100%***********************]  1 of 1 completed
GRASIM
[*********************100%***********************]  1 of 1 completed
TATASTEEL
[*********************100%***********************]  1 of 1 completed
RELIANCE
[*********************100%***********************]  1 of 1 completed
SBILIFE
[*********************100%***********************]  1 of 1 completed
KOTAKBANK
[*********************100%***********************]  1 of 1 completed
LT
[*********************100%***********************]  1 of 1 completed
HDFC
[*********************100%***********************]  1 of 1 completed
BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
TATACONSUM
[*********************100%***********************]  1 of 1 completed
BHARTIARTL
[*********************100%***********************]  1 of 1 completed
ONGC
[*********************100%***********************]  1 of 1 completed
EICHERMOT
[*********************100%***********************]  1 of 1 completed
BAJFINANCE
[*********************100%***********************]  1 of 1 completed
AXISBANK
[*********************100%***********************]  1 of 1 completed
HINDALCO
[*********************100%***********************]  1 of 1 completed
HINDUNILVR
[*********************100%***********************]  1 of 1 completed
JSWSTEEL
[*********************100%***********************]  1 of 1 completed
COALINDIA
[*********************100%***********************]  1 of 1 completed
M&M
[*********************100%***********************]  1 of 1 completed
TATAMOTORS
[*********************100%***********************]  1 of 1 completed
HEROMOTOCO
[*********************100%***********************]  1 of 1 completed
ASIANPAINT
[*********************100%***********************]  1 of 1 completed
MARUTI
[*********************100%***********************]  1 of 1 completed
TITAN

         index          0
0      DRREDDY  -7.882241
1          ITC  48.459620
2        TECHM  37.529078
3         BPCL  -6.626948
4   ULTRACEMCO -14.082261
5    SUNPHARMA   3.793191
6        WIPRO   2.547486
7    BRITANNIA  28.678700
8         INFY  -2.206920
9      HCLTECH  29.465354
10         UPL -19.049352
11   NESTLEIND  13.754592
12       CIPLA -18.349651
13    HDFCBANK  17.388393
14         TCS   9.876274
15        SBIN  -6.953789
16         IOC  29.467941
17    SHREECEM  -7.204726
18  ADANIPORTS -18.936356
19  INDUSINDBK   6.266222
20        NTPC  20.574118
21  BAJAJ-AUTO -10.094176
22   ICICIBANK  12.919663
23    DIVISLAB   4.381827
24    HDFCLIFE   4.185682
25   POWERGRID   7.308453
26      GRASIM  -7.399267
27   TATASTEEL   1.948909
28    RELIANCE  34.183055
29     SBILIFE  21.311781
30   KOTAKBANK  28.271122
31          LT   2.309140
32        HDFC   1.607756
33  BAJAJFINSV  24.647858
34  TATACONSUM  -2.903499
35  BHARTIARTL  30.195819
36        ONGC  19.524276
37   EICHERMOT  -1.296173
38  BAJFINANCE  10.596818
39    AXISBANK -10.778763
40    HINDALCO   7.362083
41  HINDUNILVR  19.255215
42    JSWSTEEL -18.487432
43   COALINDIA  44.974470
44         M&M  15.453163
45  TATAMOTORS  17.834390
46  HEROMOTOCO  13.793638
47  ASIANPAINT  -0.830584
48      MARUTI  14.703115
49       TITAN  40.433117

In [51]:
ohlcv

,Open,High,Low,Close,Adj Close,Volume,minmax,expected,result
Date,,,,,,,,,
2020-12-01,2679.000000,2735.899902,2624.449951,2726.800049,2692.568115,3605017,0.013935,0.000000,-0.013935
2020-12-02,2719.000000,2754.699951,2702.449951,2749.550049,2715.032471,2509032,0.032206,0.004065,-0.028141
2020-12-03,2773.899902,2773.899902,2700.800049,2709.449951,2675.435791,2852548,0.000000,0.008130,0.008130
2020-12-04,2710.800049,2738.850098,2699.000000,2727.550049,2693.308838,2686527,0.014537,0.012195,-0.002342
2020-12-07,2715.000000,2744.000000,2706.149902,2737.699951,2703.331299,1996400,0.022689,0.016260,-0.006429
...,...,...,...,...,...,...,...,...,...
2021-11-23,3445.000000,3480.949951,3407.800049,3464.250000,3458.173340,2153461,0.606216,0.979675,0.373458
2021-11-24,3472.199951,3493.050049,3424.000000,3443.300049,3437.260254,2161746,0.589390,0.983740,0.394349
2021-11-25,3443.899902,3463.000000,3434.050049,3445.899902,3439.855469,1849619,0.591479,0.987805,0.396326
2021-11-26,3425.000000,3490.000000,3411.899902,3446.850098,3440.803955,1941251,0.592242,0.991870,0.399628
2021-11-29,3447.149902,3529.350098,3406.449951,3502.000000,3495.857178,2981745,0.636535,0.995935,0.359400