<a href="https://colab.research.google.com/github/bommojuvishu/stocksgraphcomp/blob/main/stock_graph_comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.5 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 982 kB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [2]:
import yfinance as yf
import numpy as np
import datetime as dt
import pandas as pd
import datetime
import os
import traceback
import matplotlib.pyplot as plt
import json
import logging

In [43]:
def min_max(data):
  max_x = max(data)
  min_x = min(data)
  result = []
  for x in data:
    x = x - min_x
    result.append(x/ (max_x - min_x))
    
  return result

def plotgraph(df):
  print("Line graph: ")
  plt.plot(df.index, df["result"])
  plt.show()


def createList(df):
  interval = 1/len(df)
  return np.arange(0, 1, interval)

def computeCloud (data):
    if data.Close > data.MovingAVG:
        return 1
    
    return 0

In [56]:
# liststocks = ['PERSISTENT','INFY']
liststocks = ["DRREDDY","ITC","TECHM","BPCL","ULTRACEMCO","SUNPHARMA","WIPRO","BRITANNIA","INFY","HCLTECH","UPL","NESTLEIND","CIPLA","HDFCBANK","TCS","SBIN","IOC","SHREECEM","ADANIPORTS","INDUSINDBK","NTPC","BAJAJ-AUTO","ICICIBANK","DIVISLAB","HDFCLIFE","POWERGRID","GRASIM","TATASTEEL","RELIANCE","SBILIFE","KOTAKBANK","LT","HDFC","BAJAJFINSV","TATACONSUM","BHARTIARTL","ONGC","EICHERMOT","BAJFINANCE","AXISBANK","HINDALCO","HINDUNILVR","JSWSTEEL","COALINDIA","M&M","TATAMOTORS","HEROMOTOCO","ASIANPAINT","MARUTI","TITAN"]
tickers={}

TODAY = "2021-11-30"
datetime_object = dt.datetime.strptime(TODAY, '%Y-%m-%d')


for name in liststocks: 
    try:
        finalresult = []
        
        # periods = ['1mo','3mo','6mo','1y']
        periods = [365]
        percentile = [1,3,6,12]
        i=0
        rsi = 0
        abovecloudscore = 0
        percentilerank = 0
        
        for per in periods:
            ohlcv = yf.download(name +'.NS',datetime_object -dt.timedelta(per),datetime_object)
            calcloud=ohlcv
            ohlcv['minmax']=min_max(ohlcv['Close'].values)
            ohlcv['expected'] = createList(ohlcv)
            ohlcv['result'] = ohlcv.apply(lambda x: x['expected'] - x['minmax'], axis=1)
            ohlcv['result'] = ohlcv['result'].abs()
            # plotgraph(ohlcv)
            
            print(name)
            finalresult.append(sum(ohlcv['result']))
   

        tickers[name] = finalresult
    
    except Exception as ex:
        print(ex)#raised if `y` is empty.
        print("ERROR: ", name)
        logger.info("ERROR: "+ name)
        logger.info(ex)
        liststocks.remove(name)
        traceback.print_exc()
        

df=pd.DataFrame.from_dict(tickers,orient='index')
df = df.reset_index()
df

[*********************100%***********************]  1 of 1 completed
DRREDDY
[*********************100%***********************]  1 of 1 completed
ITC
[*********************100%***********************]  1 of 1 completed
TECHM
[*********************100%***********************]  1 of 1 completed
BPCL
[*********************100%***********************]  1 of 1 completed
ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
SUNPHARMA
[*********************100%***********************]  1 of 1 completed
WIPRO
[*********************100%***********************]  1 of 1 completed
BRITANNIA
[*********************100%***********************]  1 of 1 completed
INFY
[*********************100%***********************]  1 of 1 completed
HCLTECH
[*********************100%***********************]  1 of 1 completed
UPL
[*********************100%***********************]  1 of 1 completed
NESTLEIND
[*********************100%***********************]  1 of 1 completed
CIPLA
[*********************100%***********************]  1 of 1 completed
HDFCBANK
[*********************100%***********************]  1 of 1 completed
TCS
[*********************100%***********************]  1 of 1 completed
SBIN
[*********************100%***********************]  1 of 1 completed
IOC
[*********************100%***********************]  1 of 1 completed
SHREECEM
[*********************100%***********************]  1 of 1 completed
ADANIPORTS
[*********************100%***********************]  1 of 1 completed
INDUSINDBK
[*********************100%***********************]  1 of 1 completed
NTPC
[*********************100%***********************]  1 of 1 completed
BAJAJ-AUTO
[*********************100%***********************]  1 of 1 completed
ICICIBANK
[*********************100%***********************]  1 of 1 completed
DIVISLAB
[*********************100%***********************]  1 of 1 completed
HDFCLIFE
[*********************100%***********************]  1 of 1 completed
POWERGRID
[*********************100%***********************]  1 of 1 completed
GRASIM
[*********************100%***********************]  1 of 1 completed
TATASTEEL
[*********************100%***********************]  1 of 1 completed
RELIANCE
[*********************100%***********************]  1 of 1 completed
SBILIFE
[*********************100%***********************]  1 of 1 completed
KOTAKBANK
[*********************100%***********************]  1 of 1 completed
LT
[*********************100%***********************]  1 of 1 completed
HDFC
[*********************100%***********************]  1 of 1 completed
BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
TATACONSUM
[*********************100%***********************]  1 of 1 completed
BHARTIARTL
[*********************100%***********************]  1 of 1 completed
ONGC
[*********************100%***********************]  1 of 1 completed
EICHERMOT
[*********************100%***********************]  1 of 1 completed
BAJFINANCE
[*********************100%***********************]  1 of 1 completed
AXISBANK
[*********************100%***********************]  1 of 1 completed
HINDALCO
[*********************100%***********************]  1 of 1 completed
HINDUNILVR
[*********************100%***********************]  1 of 1 completed
JSWSTEEL
[*********************100%***********************]  1 of 1 completed
COALINDIA
[*********************100%***********************]  1 of 1 completed
M&M
[*********************100%***********************]  1 of 1 completed
TATAMOTORS
[*********************100%***********************]  1 of 1 completed
HEROMOTOCO
[*********************100%***********************]  1 of 1 completed
ASIANPAINT
[*********************100%***********************]  1 of 1 completed
MARUTI
[*********************100%***********************]  1 of 1 completed
TITAN

         index           0
0      DRREDDY   84.826577
1          ITC   66.925224
2        TECHM   39.790656
3         BPCL   52.934832
4   ULTRACEMCO   24.255280
5    SUNPHARMA   20.107603
6        WIPRO   14.687729
7    BRITANNIA   63.485668
8         INFY   17.154986
9      HCLTECH   41.725587
10         UPL   39.136911
11   NESTLEIND   52.204759
12       CIPLA   45.072929
13    HDFCBANK   51.802243
14         TCS   34.144256
15        SBIN   22.198590
16         IOC   37.343535
17    SHREECEM   47.728656
18  ADANIPORTS   45.519964
19  INDUSINDBK   44.085398
20        NTPC   32.259961
21  BAJAJ-AUTO   68.942227
22   ICICIBANK   27.241164
23    DIVISLAB   25.736142
24    HDFCLIFE   59.570780
25   POWERGRID   26.402470
26      GRASIM   20.745841
27   TATASTEEL   24.957811
28    RELIANCE   43.934953
29     SBILIFE   28.520971
30   KOTAKBANK   75.986164
31          LT   27.878731
32        HDFC   43.632821
33  BAJAJFINSV   28.561422
34  TATACONSUM   18.712610
35  BHARTIARTL   45.594364
36        ONGC   31.959700
37   EICHERMOT   62.906728
38  BAJFINANCE   27.512735
39    AXISBANK   37.322775
40    HINDALCO   17.467846
41  HINDUNILVR   47.071052
42    JSWSTEEL   40.622072
43   COALINDIA   57.274438
44         M&M   60.481416
45  TATAMOTORS   36.919539
46  HEROMOTOCO  101.627944
47  ASIANPAINT   29.205638
48      MARUTI   83.071699
49       TITAN   45.071771

In [53]:
ohlcv['result'].abs()

Date
2020-12-01    0.000000
2020-12-02    0.034326
2020-12-03    0.053904
2020-12-04    0.064787
2020-12-07    0.051224
                ...
2021-11-23    0.140851
2021-11-24    0.154414
2021-11-25    0.140887
2021-11-26    0.229507
2021-11-29    0.208005
Name: result, Length: 246, dtype: float64